.flash_box グループを作成しました。
%header.header-right
  .header-right__group sample
  .header-right__member Members: seo neko
  %button.header-right__edit Edit
%header.header-left
  .header-left__name seo
  %ul
    %li.fa.fa-pencil-square-o.icon
    %li.fa.fa-gear.icon
.side-contents
  .side-contents__groups
    .side-contents__groups__group sample
    .side-contents__groups__message Good bye world
  .side-contents__groups
    .side-contents__groups__group sample2
    .side-contents__groups__message Good bye world2
.main--contents
  .main--contents__name-date
    .main--contents__name-date__name seo
    .main--contents__name-date__date 2019/03/31 10:43:51
  .main--contents__text Hello World！
  .main--contents__name-date
    .main--contents__name-date__name seo
    .main--contents__name-date__date 2019/03/31 10:43:51
  .main--contents__text Good bye world！
.bottom--contents
  %input.bottom--contents__message{type: :text, name: :message, value: 'type a message'}
  %label
    %span.filelabel
      %i.fa.fa-photo.photo
        %input.filesend{type: :file, name: :img}
  %button.bottom--contents__button Send
